* {
	border: unset;
	margin: unset;
	padding: unset;
}
body {
	overflow: hidden;
}
#cas, canvas {
	width: 100%;
	height: 100vh;

	/* background: #000; */
}
#point {
	background: #fff;
	color: #000;
	position: absolute;
	will-change: auto;
	pointer-events: none;
	margin: 10px;
}